%% -*- mode: erlang -*-

{require_otp_vsn, "18"}.

{erl_opts, [debug_info]}.
{yrl_opts, [{includefile, "include/erlydtl_preparser.hrl"}]}.

{project_plugins,
     [
      {slex, {git, "https://github.com/erlydtl/slex.git", {tag, "0.2.3"}}}
     ]}.

{profiles,
 [{test,
   [{pre_hooks,
     [
      {compile, "erlc -I include/erlydtl_preparser.hrl -o test test/erlydtl_extension_testparser.yrl"}
     ]}
   ]}
]}.

{dialyzer,
 [
  {warnings, [underspecs, unmatched_returns, race_conditions, error_handling]}
 ]}.
