%% -*- mode: erlang -*-

%% accept R15B02.., any R16B except R16B03
%% also accept OTP v17, altough it may not work properly on that release yet..
{require_otp_vsn, "R15B0[^1]|R16B$|R16B[^0]|R16B0[^3]|R16B03-1|17"}.

{erl_opts, [debug_info]}.
{yrl_opts, [{includefile, "include/erlydtl_preparser.hrl"}]}.

{deps,
 [{merl, ".*",
   {git, "git://github.com/erlydtl/merl.git", {branch, "erlydtl"}},
   [raw]}
 ]}.

{pre_hooks,
 [{compile, "make -C $REBAR_DEPS_DIR/merl all"},
  {"freebsd", compile, "gmake -C $REBAR_DEPS_DIR/merl all"},
  {eunit,
   "erlc -I include/erlydtl_preparser.hrl -o test"
   " test/erlydtl_extension_testparser.yrl"}
 ]}.
