%% -*- mode: erlang -*-

{eunit_opts,
 [%% This turns off the default output, MUST HAVE
  no_tty,
  %% Uses the progress formatter with ANSI-colored output
  {report, {eunit_progress, [colored
                             %% uncomment to get a list of slowest running tests
                             %%, profile
                            ]}}
 ]}.

{deps,
 [{eunit_formatters, ".*",
   {git, "git://github.com/seancribbs/eunit_formatters", "35e3e6ab2db48af776a1a21bba6f1461c97caacb"}}
 ]}.

{pre_hooks,
 [{eunit,
   "erlc -I include/erlydtl_preparser.hrl -o test"
   " test/erlydtl_extension_testparser.yrl"}
 ]}.
