%% -*- mode: erlang -*-

{deps,
 [ %% uncomment merl dep in not building on OTP 18.0 or later..
   %% {merl, ".*", {git, "git://github.com/erlydtl/merl.git", {branch, "erlydtl"}}, [raw]},
   {slex, ".*", {git, "git://github.com/erlydtl/slex.git", {branch, "master"}}}
 ]
}.

{plugins, [rebar_slex]}.
